@{
    //page title
    ViewBag.Title = L("Admin.Dashboard");    
}

@Html.AntiForgeryToken()
<div class="content-header">
    <h1>
        @L("Admin.Dashboard")
    </h1>
</div>

<div class="content">
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
</div>
